@import '../../scss/variables.scss';


.home-body {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-body-title {
        text-align: center;
        font-size: 2em;
        color: #333333;
    }
}