@import 'bootstrap/scss/bootstrap-grid.scss';
@import './scss/variables.scss';

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.App {
  text-align: left;
  width:100%;
}

.text-center {
  text-align: center;
}